@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 240, 240, 240;
  --background-start-rgb: 10, 14, 26;
  --background-end-rgb: 10, 14, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.grid-bg {
  background-image: radial-gradient(#1A2035 1px, transparent 1px);
  background-size: 40px 40px;
}